* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 70%;
    margin: 0 auto;
    background-color: #000;
}

header {}

.links-nav {
    background-color: #000;
    color: green;
    font-family: 'Kanit', sans-serif;

}

main {}

footer {}
